/* open-sans-regular - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/open-sans-regular.woff2) format("woff2"), url(../fonts/open-sans-regular.woff) format("woff"); }

/* open-sans-italic - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/open-sans-italic.woff2) format("woff2"), url(../fonts/open-sans-italic.woff) format("woff"); }

/* open-sans-700 - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/open-sans-700.woff2) format("woff2"), url(../fonts/open-sans-700.woff) format("woff"); }

/* open-sans-700italic - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/open-sans-700italic.woff2) format("woff2") url(../fonts/open-sans-700italic.woff) format("woff"); }

